.tokar-box {
  display: flex;
  font-family: "Gilroy";
}

.wrapper {
  padding: 20px 374px 145px 374px;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
}

.button-img {
  border: 2px solid #cb8734;
  border-radius: 50%;
  padding: 10px 12px;
}

.contacts {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-between;
}

.tokar-text {
  font-weight: 400;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 46px;
}

.tokar-contacts {
  font-weight: 300;
  font-size: 16px;
}

.tokar-phone {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6px;
}

.tokar-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  background-color: #fff;
  border-top-right-radius: 40px;
  padding: 32px 44px 40px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tokar-paragraf {
  font-weight: 400;
  font-size: 24px;
}

.tokar-card-info {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.tokar-number {
  display: flex;
  flex-direction: column;
}

.tokar-item {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 9px;
  margin-bottom: 16px;
}

a.tokar-call {
  text-decoration: underline;
  color: #cb8734;
  margin-top: 16px;
  font-weight: 600;
  font-size: 16px;
}

.tokar-img {
  display: flex;
  justify-content: flex-end;
}

.tokar-img2 {
  z-index: 0;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}
.tokar-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}

.tokar-card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  background-color: #fff;
  border-top-right-radius: 40px;
  padding: 32px 44px 40px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 535px;
  height: 200px;
}

.tokar-card4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-top-right-radius: 40px;
  padding: 32px 44px 40px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 535px;
  height: 200px;
}

.tokar-contacts4 {
  font-weight: 300;
  font-size: 16px;
  margin-right: 81px;
}

.tokar-images {
}

a.tokar-call5 {
  text-decoration: underline;
  color: #cb8734;
  margin-top: 16px;
  font-weight: 600;
  font-size: 16px;
}

.address {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.address-text {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 16px;
}

.address-paragraf {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 23px;
}

a.address-link {
  font-weight: 600;
  font-size: 16px;
  color: #cb8734;
  text-decoration: underline;
}

.tokar-card-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  justify-content: space-between;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.consultation {
  padding: 59px 72px 49px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 564px;
  height: 499px;
  margin-left: 37px;
  border-top-right-radius: 40px;
  position: relative;
  z-index: 1;
}

.consultation-text {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 24px;
}

.consultation-input {
  width: 420px;
  height: 58px;
  border: 2px solid #e7d8c7;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
  padding: 22px 258px 19px 81px;
}

.consultation-input2 {
  width: 420px;
  height: 58px;
  border: 2px solid #e7d8c7;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 22px 258px 19px 81px;
  margin-bottom: 20px;
}

.btn {
  background-color: #cb8734;
  padding-top: 26px;
  padding-bottom: 20px;
  width: 420px;
  height: 66px;
  color: #fff;
  margin-bottom: 30px;
}

.consultation-link {
  color: #cb8734;
}

.imgg {
  display: block;
  width: 100%;
  max-width: 564px;
  height: auto;
  margin-top: 40px; /* расстояние от карточки */
  margin-left: 37px;
  margin-right: auto;
}

.consultation-wrapper {
  display: flex;
  flex-direction: column;
}

.company-fon {
  background-color: #fffbf6;
  width: auto;
  height: 911px;
}

.company-card {
  width: 370px;
  height: 159px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
  gap: 20px;
}

.company-details {
  font-size: 30px;
  font-weight: 700;
  padding-left: 375px;
}

.company-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 145px 375px;
}

.company-img {
  width: 62px;
  height: 62px;
}

.company-text {
  font-weight: 400;
  font-size: 20px;
}

.company-spn {
  font-weight: 700;
  font-size: 16px;
}

.company-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last {
  padding: 145px 374px;
}

.last-text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
}

.last-cards {
  display: flex;
  gap: 30px;
}

.last-content {
  font-weight: 400;
  font-size: 20px;
  margin-top: 27px;
  margin-bottom: 15px;
}

.last-spn {
  font-weight: 300;
  font-size: 15px;
  font-family: Gilroy;
}

