.single {
  display: flex;
  margin-top: 39px;
  gap: 30px;
}

.telega {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  margin-left: 34px;
}

.outline {
  display: flex;
}

.pointer {
  margin-top: 38px;
  line-height: 23px;
}

.vrema {
  margin-left: 62px;
}
.text {
  display: flex;
  gap: 4px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.takar {
  font-size: 13px;
  line-height: 18px;
  color: rgba(43, 42, 40, 1);
  font-weight: 600;
}

.paragraf {
  font-size: 12px;
  line-height: 18px;
  color: rgba(43, 42, 40, 1);
  font-weight: 600;
}

.nomer {
  font-weight: 700;
  font-size: 20px;
  color: rgba(43, 42, 40, 1);
  margin-left: 40px;
}

.cursor {
  margin-top: 22px;
}
.btn {
  background: rgba(243, 156, 50, 1);
  width: 160px;
  height: 46px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  margin-left: 27px;
}

.free {
  margin-left: 40px;
  color: rgba(43, 42, 40, 1);
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
}

.gardener {
  background: rgba(61, 30, 25, 1);
  width: 620px;
  height: 72px;
  border-radius: 8px;
  margin-top: 36px;
  margin-left: 280px;
}

.residential {
  font-family: 700;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  line-height: 146%;
}

.commercial {
  font-family: 700;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  line-height: 146%;
}

.garden {
  font-family: 700;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  line-height: 146%;
}

.gardener {
  display: flex;
}

.line {
  border-top: 1px dashed rgba(229, 235, 242, 1);
  width: 52px;
}
